<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<!-- Include the navbar fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container" style="margin-top: 70px;"> <!-- Added margin to avoid overlap with fixed navbar -->
    <h1>About Us</h1>
    <p>Learn more about our mobile store...</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
